body {
  background: rgb(240, 240, 240);
}

.lol {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
}

.profile {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}

.js {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  animation: js 40s linear infinite;
}

.mongodb {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  animation: mongodb 30s linear infinite;
}

.express {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  animation: express 10s linear infinite;
}

.react {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  animation: react 25s linear infinite;
}

.nodejs {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  animation: nodejs 45s linear infinite;
}

.firebase {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  animation: firebase 15s linear infinite;
}

.nextJs {
  width: 45px;
  height: 40px;
  border-radius: 50%;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  animation: nextJs 25s linear infinite;
}
.scratch {
  width: 45px;
  height: 40px;
  border-radius: 50%;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  animation: scratch 25s infinite;
}

.python {
  width: 45px;
  height: 40px;
  border-radius: 50%;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  animation: python 35s infinite;
}

@keyframes js {
  0% {
    transform: rotate(0deg) translate(-230px, 0px) rotate(0deg);
  }
  100% {
    transform: rotate(360deg) translate(-230px, 0px) rotate(-360deg);
  }
}

@keyframes mongodb {
  0% {
    transform: rotate(0deg) translate(-150px, -150px) rotate(0deg);
  }
  100% {
    transform: rotate(360deg) translate(-150px, -150px) rotate(-360deg);
  }
}

@keyframes express {
  0% {
    transform: rotate(0deg) translate(100px, -100px) rotate(0deg);
  }
  100% {
    transform: rotate(360deg) translate(100px, -100px) rotate(-360deg);
  }
}

@keyframes react {
  0% {
    transform: rotate(0deg) translate(200px, 200px) rotate(0deg);
  }
  100% {
    transform: rotate(360deg) translate(200px, 200px) rotate(-360deg);
  }
}

@keyframes nodejs {
  0% {
    transform: rotate(0deg) translate(-150px, 150px) rotate(0deg);
  }
  100% {
    transform: rotate(360deg) translate(-150px, 150px) rotate(-360deg);
  }
}

@keyframes firebase {
  0% {
    transform: rotate(0deg) translate(150px, -150px) rotate(0deg);
  }
  100% {
    transform: rotate(360deg) translate(150px, -150px) rotate(-360deg);
  }
}

@keyframes nextJs {
  0% {
    transform: rotate(0deg) translate(100px, 200px) rotate(0deg);
  }
  100% {
    transform: rotate(360deg) translate(100px, 200px) rotate(-360deg);
  }
}
@keyframes scratch {
  0% {
    transform: rotate(0deg) translate(-180px, -180px) rotate(0deg);
  }
  100% {
    transform: rotate(360deg) translate(-180px, -180px) rotate(-360deg);
  }
}

@keyframes python {
  0% {
    transform: rotate(0deg) translate(120px, 220px) rotate(0deg);
  }
  100% {
    transform: rotate(360deg) translate(120px, 220px) rotate(-360deg);
  }
}
