li {
  list-style: none;
}

a {
  text-decoration: none;
  color: black;
  font-size: 1rem;
}

a:hover {
  color: rgb(134, 247, 170);
  text-decoration: underline;
}

/* header */

header {
  position: relative;
  padding: 0 2rem;
}
.navbar {
  width: 100%;
  height: 60px;
  max-width: 1400px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.navbar .links {
  display: flex;
  gap: 2rem;
  color: black;
}

.navbar .toggle_btn {
  color: black;
  font-size: 2rem;
  cursor: pointer;
  display: none;
}

/* for dropdown menu*/

.dropdown_menu {
  display: none;
  position: absolute;
  right: 2rem;
  top: 60px;
  height: 0;
  width: 300px;
  background: rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(15px);
  border-radius: 10px;
  overflow: hidden;
  transition: height 0.2s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.dropdown_menu li {
  padding: 0.7rem;
  display: flex;
  align-items: center;
  justify-content: center;
  color: black;
}
.dropdown_menu.open {
  height: 240px;
}
/* responsive */
@media (max-width: 992px) {
  .navbar .links {
    display: none;
  }
  .navbar .toggle_btn {
    display: block;
  }
  .dropdown_menu {
    display: block;
  }
}
